*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-white{
    background-color: white;
}

i.fa-solid{
    margin: .2em;
}

.bordbot{
    border-bottom: 1px solid black;
}

i:hover{
    cursor: pointer;
}
.bordbot:hover{
    background-color: rgba(128, 128, 128, 0.493);
    cursor: pointer;
}
/* #new-message .fa-solid{
    font-size: 20px;
    background-color: white;
    padding: 9px;
    border-radius: 50%;
    color: #8edafc;
} */

.title{
    font-size: 20px;
    font-weight: bold;
}
.container_all{
    width: 100vw;
    height: 100vh;
    background: rgb(217,219,210);
    background: -moz-linear-gradient(0deg, rgba(217,219,210,1) 85%, rgba(0,150,136,1) 85%);
    background: -webkit-linear-gradient(0deg, rgba(217,219,210,1) 85%, rgba(0,150,136,1) 85%);
    background: linear-gradient(0deg, rgba(217,219,210,1) 85%, rgba(0,150,136,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dbd2",endColorstr="#009688",GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .container{
    display: flex;
    height: 80%; 
    width: 75%;
    outline: 3px solid white;
    padding: 0;
}

.container_chat{
    width: 35%;
    height: 100%;
}

.container_message{
    width: 65%;
    height: 100%;
}

.profile-pic{
    width: 100%;
    padding: 8px;
    background-color: lightgray;
}

.rounded-circle{
    height: 50px;
}

i{
    font-size: 20px;
    padding: 5px;
    color: grey;
}

.new-message{
    width: 100%;
    background-color: #8edafc;
}

.background-image{
    position: relative;
    height: 100%;
    background-image: url("../img/mine.jpg");
    object-fit: cover;
    background-repeat: repeat;

}

span.input-group-text{
    background-color: white;
}

#profile-left{
    overflow-y: auto;
}

.received{
    background-color: #ffffff;
    padding: 10px;
    margin: 1em;
    border-radius: 20px;
}

.sent{
    background-color: #d5f9ba;
    padding: 10px;
    margin: 1em;
    border-radius: 20px;
}